body {
  font-family: Arial, sans-serif;
  background-color: #f4f1ea;
  color: #3e2723;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Выравниваем контейнер по верхнему краю */
  min-height: 100vh; /* Минимальная высота экрана */
  overflow-y: auto; /* Добавляем скроллинг для всего экрана */
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.stats {
  margin-bottom: 20px;
}

.filters {
  margin-bottom: 20px; /* Поднимаем кнопки фильтрации выше */
}

.filters button {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #6d4c41;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #8d6e63;
}

input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #d7ccc8;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

li div {
  display: flex;
  gap: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.7;
}